# Localhost Server Port
PORT=5000

# AWS S3 Configuration (Dummy Values for GitHub)
AWS_ACCESS_KEY=dummy_access_key
AWS_SECRET_KEY=dummy_secret_key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=my-local-bucket

# Twilio SMS & WhatsApp Configuration (Dummy Values for GitHub)
TWILIO_SID=AC_dummy_account_sid
TWILIO_AUTH_TOKEN=dummy_auth_token
TWILIO_PHONE_NUMBER=+1234567890
